.container__two{
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    background-color: $White;
    /*border: 2px solid magenta;*/

    .btn{
        color: white;
        font-weight: 600;
        padding: 1rem;
        border: none;
        border-radius: 3rem;
        background-color: hsl(224, 30%, 27%);
        cursor: pointer;
    }

    .btn:hover{
        background-color: hsla(224, 30%, 27%, 0.918);
    }
}

.summary__container{
    margin-bottom: 0.5rem;

    .item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.summary__container__h2{
    font-size: 1.3rem;
    color: $DarkGrayBlue;
    margin-bottom: 1rem;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.score-bold{
    font-weight: bold;
}

.reduced-opacity{
    opacity: 0.5;
}

.category-wrapper {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between image and text */
}

.summary__container img {
    width: 30px;
    height: auto;
}

